Repository blockedby/positions-os: changes, and which lefthook commands are due for each by the changed paths.
All: linter, format, yaml-check

linter:
  run: golangci-lint run --fast

format:
  run: gofmt -w {staged_files}

yaml-check:
  run: go run scripts/validate_yaml/main.go {all_files}

upd
  docs/plans/2026-01-17-ephemeral-e2e-infrastructure.md
Due: none

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

feat(e2e): add ephemeral test infrastructure
  docker-compose.e2e.yml
Due: yaml-check

feat(e2e): add convenience script for running E2E tests
  scripts/e2e.sh
Due: none

feat(e2e): add task e2e-docker for ephemeral E2E tests
  Taskfile.yml
Due: yaml-check

docs: add ephemeral E2E test documentation
  CLAUDE.md
Due: none

docs(docker): add deprecation notice for shared-db E2E tests
  docker-compose.yml
Due: yaml-check

fix(brain): repair broken pdf-templates symlink
  internal/brain/static/pdf-templates
Due: none

feat(e2e): add ephemeral E2E test infrastructure (#17)
  CLAUDE.md
  Taskfile.yml
  docker-compose.e2e.yml
  docker-compose.yml
  internal/brain/static/pdf-templates
  scripts/e2e.sh
Due: yaml-check

fix(api): include raw_content in job JSON responses
  internal/repository/jobs.go
Due: linter, format

feat(frontend): add technology and salary filters to FilterBar
  frontend/src/components/jobs/FilterBar.test.tsx
  frontend/src/components/jobs/FilterBar.tsx
Due: none

feat(frontend): add useScrapeStatus hook for polling scrape status
  frontend/src/hooks/useScrapeStatus.test.ts
  frontend/src/hooks/useScrapeStatus.ts
Due: none

feat(frontend): add ScrapeStatus component to Dashboard
  frontend/src/components/dashboard/ScrapeStatus.test.tsx
  frontend/src/components/dashboard/ScrapeStatus.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/pages/Dashboard.tsx
Due: none

style(frontend): add CSS for filter enhancements and ScrapeStatus
  frontend/src/styles/globals.css
Due: none

test(e2e): add Playwright tests for filter enhancements
  frontend/e2e/filters.spec.ts
Due: none

fix(e2e): improve filter test reliability with route capture
  frontend/e2e/filters.spec.ts
Due: none

docs: add plan for frontend bugfixes (contacts, company, websocket)
  docs/plans/2026-01-17-frontend-bugfixes-contacts-company-websocket.md
Due: none

feat(analyzer): update LLM prompt to extract company, description, and location fields
  docs/prompts/job-extraction.xml
Due: none

feat(frontend): make contacts clickable with smart link detection
  frontend/src/components/jobs/ContactLink.test.tsx
  frontend/src/components/jobs/ContactLink.tsx
  frontend/src/components/jobs/JobDetail.tsx
  frontend/src/styles/globals.css
Due: none

feat(frontend): replace pagination with infinite scroll on Jobs page
  frontend/src/components/jobs/InfiniteJobsList.tsx
  frontend/src/components/jobs/index.ts
  frontend/src/hooks/useInfiniteJobs.test.ts
  frontend/src/hooks/useInfiniteJobs.ts
  frontend/src/pages/Jobs.tsx
  frontend/src/styles/globals.css
Due: none

fix(collector): track both min and max in MessageIDFilter for scraping
  internal/repository/ranges.go
  internal/repository/ranges_test.go
Due: linter, format

feat(frontend): clickable contacts, LLM prompt update, infinite scroll (#19)
  docs/plans/2026-01-17-frontend-bugfixes-contacts-company-websocket.md
  docs/prompts/job-extraction.xml
  frontend/src/components/jobs/ContactLink.test.tsx
  frontend/src/components/jobs/ContactLink.tsx
  frontend/src/components/jobs/InfiniteJobsList.tsx
  frontend/src/components/jobs/JobDetail.tsx
  frontend/src/components/jobs/index.ts
  frontend/src/hooks/useInfiniteJobs.test.ts
  frontend/src/hooks/useInfiniteJobs.ts
  frontend/src/pages/Jobs.tsx
  frontend/src/styles/globals.css
  internal/repository/ranges.go
  internal/repository/ranges_test.go
Due: linter, format

fix(frontend): use E.164 format for phone number detection
  frontend/src/components/jobs/ContactLink.test.tsx
  frontend/src/components/jobs/ContactLink.tsx
Due: none

fix(docs): update test command in CLAUDE.md to use bunx for Vitest
  CLAUDE.md
Due: none

fix(frontend): remove unused variables in test files
  frontend/e2e/global-teardown.ts
  frontend/src/contexts/WebSocketContext.test.tsx
  frontend/src/hooks/useWebSocket.test.ts
Due: none

fix(frontend): rename Playwright fixture callback to avoid hook false positive
  frontend/e2e/fixtures/index.ts
Due: none

refactor(frontend): move useWebSocketContext hook to separate file
  frontend/src/contexts/WebSocketContext.test.tsx
  frontend/src/contexts/WebSocketContext.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/useWebSocketContext.ts
Due: none

fix(frontend): remove setState in useEffect from TargetForm
  frontend/src/components/settings/TargetForm.tsx
Due: none

fix(frontend): derive selectedJobId from URL instead of useState
  frontend/src/pages/Jobs.tsx
Due: none

perf(frontend): add useMemo to InfiniteJobsList allJobs computation
  frontend/src/components/jobs/InfiniteJobsList.tsx
Due: none

fix(frontend): use correct JobsQuery properties in handleFilter
  frontend/src/pages/Jobs.tsx
Due: none

fix(frontend): resolve all ESLint errors from PR #19 (#20)
  frontend/e2e/fixtures/index.ts
  frontend/e2e/global-teardown.ts
  frontend/src/components/jobs/ContactLink.test.tsx
  frontend/src/components/jobs/ContactLink.tsx
  frontend/src/components/jobs/InfiniteJobsList.tsx
  frontend/src/components/settings/TargetForm.tsx
  frontend/src/contexts/WebSocketContext.test.tsx
  frontend/src/contexts/WebSocketContext.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/useWebSocketContext.ts
  frontend/src/pages/Jobs.tsx
Due: none

docs: add smarter job filtering implementation plan
  docs/plans/2026-01-17-smarter-job-filtering.md
Due: none

feat(repository): add GetExistingMessageIDs for smarter filtering
  internal/repository/jobs.go
  internal/repository/jobs_test.go
Due: linter, format

feat(repository): add SmartMessageFilter for job-aware filtering
  internal/repository/ranges.go
  internal/repository/ranges_test.go
Due: linter, format

feat(repository): add NewSmartFilter factory method
  internal/repository/ranges.go
  internal/repository/ranges_test.go
Due: linter, format

feat(collector): use smart filtering for message deduplication
  internal/collector/service.go
Due: linter, format

test: add integration test for GetExistingMessageIDs
  internal/repository/jobs_db_test.go
Due: linter, format

fix(collector): smarter job filtering to allow re-processing skipped messages (#21)
  docs/plans/2026-01-17-smarter-job-filtering.md
  internal/collector/service.go
  internal/repository/jobs.go
  internal/repository/jobs_db_test.go
  internal/repository/jobs_test.go
  internal/repository/ranges.go
  internal/repository/ranges_test.go
Due: linter, format

fix(lint): update golangci-lint config for v2
  .golangci.yml
Due: yaml-check

Path conditions:
  linter: any of: *.go
  format: any of: *.go
  yaml-check: any of: *.{yml,yaml}
