Repository blockedby/positions-os: changes, and which lefthook commands are due for each by the changed paths.
All: linter, format, yaml-check

lefthook.yml:

# Lefthook - Modern Git Hooks for Go Projects
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    linter:
      run: golangci-lint run --fast
      glob: "*.go"
    format:
      run: gofmt -w {staged_files}
      glob: "*.go"
    yaml-check:
      run: go run scripts/validate_yaml/main.go {all_files}
      glob: "*.{yml,yaml}"

redundant linter remove
  CLAUDE.md
  docker-compose.yml
  go.mod
  go.sum
  internal/tools/tools.go
Due: linter, format, yaml-check

Update .gitignore to exclude Playwright artifacts and fix dispatcher usage in QRClientBundle for proper initialization
  .gitignore
  internal/telegram/manager.go
  internal/telegram/qr_client.go
Due: linter, format

qr login works yeeeeeeees
  CLAUDE.md
  docs/implementation-order.md
  docs/prompts/md-indexer.xml
  internal/web/handlers/auth.go
  internal/web/handlers/auth_test.go
  internal/web/handlers/pages_test.go
  internal/web/templates/pages/settings.html
  static/README.md
  static/css.md
  static/css/pico.css
  static/css/pico.css.md
  static/css/style.css.md
  static/js.md
  static/js/htmx.min.js.md
  static/js/ws.js.md
Due: linter, format

Add documentation for new services and CLI tools, including analyzer, collector, tg-auth, tg-topics, and validate-yaml. Update README and implementation order for clarity.
  cmd/README.md
  cmd/analyzer.md
  cmd/analyzer/main.go.md
  cmd/collector.md
  cmd/collector/main.go.md
  cmd/tg-auth.md
  cmd/tg-auth/main.go.md
  cmd/tg-topics.md
  cmd/tg-topics/main.go.md
  cmd/validate-yaml.md
  cmd/validate-yaml/main.go.md
  docs/implementation-order.md
  docs/index/_entrypoint.md
  docs/index/cmd.md
  docs/phase-3-webui.md
Due: none

Add internal documentation for application packages, including analyzer and collector services. Update implementation order and index structure for better navigation.
  docs/implementation-order.md
  docs/index/_entrypoint.md
  docs/index/internal.md
  docs/index/internal/analyzer.md
  docs/index/internal/collector.md
  docs/index/static.md
  docs/prompts/md-indexer.xml
  internal.md
  internal/analyzer.md
  internal/analyzer/consumer.go.md
  internal/analyzer/consumer_integration_test.go.md
  internal/analyzer/processor.go.md
  internal/analyzer/processor_test.go.md
  internal/collector.md
  internal/collector/handler.go.md
  internal/collector/handler_test.go.md
  internal/collector/manager.go.md
  internal/collector/manager_test.go.md
  internal/collector/router.go.md
  internal/collector/service.go.md
  internal/collector/validation.go.md
  internal/collector/validation_test.go.md
Due: none

last go frontend
  docs/phase-3-webui.md
  internal/web/templates/pages/qr-persistence-test.html
  internal/web/templates/pages/settings.html
  internal/web/templates/pages/settings.html.md
Due: none

feat(web): add brain WebSocket events
  internal/web/events.go
  internal/web/events_brain_test.go
Due: linter, format

feat: implement phase-4 brain (resume tailoring, PDF, events)
  docs/phase-4-brain.md
  docs/prompts/cover-letter.xml
  docs/prompts/resume-tailoring.xml
  go.mod
  go.sum
  internal/brain/api.go
  internal/brain/api.go.md
  internal/brain/api_test.go
  internal/brain/docs/prompts/chain-of-thoughts.xml
  internal/brain/docs/prompts/cover-letter.xml
  internal/brain/docs/prompts/job-extraction.xml
  internal/brain/docs/prompts/md-indexer.xml
  internal/brain/docs/prompts/resume-tailoring.xml
  internal/brain/integration.go
  internal/brain/llm.go
  internal/brain/llm.go.md
  internal/brain/llm_test.go
  internal/brain/pdf.go
  internal/brain/pdf.go.md
  internal/brain/pdf_test.go
  internal/brain/prompts.go
  internal/brain/prompts.go.md
  internal/brain/prompts_test.go
  internal/brain/service.go
  internal/brain/service.go.md
  internal/brain/service_test.go
  internal/brain/static/pdf-templates
  internal/brain/storage.go
  internal/brain/storage.go.md
  internal/brain/storage_test.go
  internal/web/events_brain_test.go
  static/pdf-templates/cover.html
  static/pdf-templates/resume.html
  storage/resume.md
Due: linter, format

docs: add React migration phase documentation
  docs/phase-3.5-react-migration.md
Due: none

feat(web): add brain WebSocket events (#1)
  internal/web/events.go
  internal/web/events_brain_test.go
Due: linter, format

Add migration documentation for React and Bun
  docs/phase-3.5-react-migration.md
Due: none

fix: check json.Encode errors in brain API
  internal/brain/api.go
Due: linter, format

docs: extend CLAUDE.md with comprehensive documentation
  CLAUDE.md
Due: none

docs: split Phase 5 tasks into 2 parallel threads
  docs/phase-5-dispatcher.md
  docs/tasks/phase5/index.md
  docs/tasks/phase5/thread-a-backend-infrastructure.md
  docs/tasks/phase5/thread-b-service-api.md
Due: none

chore: add Thread A TODO placeholder
  internal/dispatcher/THREAD_A_TODO.md
Due: none

feat(thread-a): implement backend infrastructure for Phase 5 Dispatcher
  internal/dispatcher/email_sender.go
  internal/dispatcher/email_sender_test.go
  internal/dispatcher/read_tracker.go
  internal/dispatcher/read_tracker_test.go
  internal/dispatcher/tracker.go
  internal/dispatcher/tracker_test.go
  internal/repository/applications.go
  internal/repository/applications_test.go
Due: linter, format

docs: add React Migration PR plan with 3-thread work division
  REACT_MIGRATION_PR.md
Due: none

fix: address review comments and complete Thread A handoffs
  internal/dispatcher/telegram_sender.go
  internal/dispatcher/telegram_sender_test.go
  internal/dispatcher/tracker.go
  internal/dispatcher/tracker_test.go
  internal/telegram/manager.go
Due: linter, format

Thread A: Backend Infrastructure (Repository, Tracker, Read Detection) (#6)
  internal/dispatcher/THREAD_A_TODO.md
  internal/dispatcher/email_sender.go
  internal/dispatcher/email_sender_test.go
  internal/dispatcher/read_tracker.go
  internal/dispatcher/read_tracker_test.go
  internal/dispatcher/telegram_sender.go
  internal/dispatcher/telegram_sender_test.go
  internal/dispatcher/tracker.go
  internal/dispatcher/tracker_test.go
  internal/repository/applications.go
  internal/repository/applications_test.go
  internal/telegram/manager.go
Due: linter, format

feat(thread-a): complete React foundation & data layer
  .claude-prompt
  THREAD_A_README.md
  frontend/.gitignore
  frontend/README.md
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/layout/Main.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useJobs.ts
  frontend/src/hooks/useStats.ts
  frontend/src/hooks/useTargets.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api.ts
  frontend/src/lib/query-client.ts
  frontend/src/lib/types.ts
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Jobs.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/styles/globals.css
  frontend/src/test/setup.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: none

chore: add Thread B TODO placeholder
  internal/dispatcher/THREAD_B_TODO.md
Due: none

feat(dispatcher): implement Telegram Sender for Thread B
  docs/tasks/phase5/thread-b-service-api.md
  internal/dispatcher/telegram_sender.go
  internal/dispatcher/telegram_sender_test.go
Due: linter, format

feat(dispatcher): implement Dispatcher Service for Thread B
  internal/dispatcher/service.go
  internal/dispatcher/service_test.go
Due: linter, format

feat(web): implement Applications API handlers and Dispatcher status
  internal/web/handlers/applications.go
  internal/web/handlers/applications_test.go
  internal/web/handlers/dispatcher.go
  internal/web/handlers/dispatcher_test.go
  internal/web/server.go
Due: linter, format

feat(web): implement UI Integration for Job Applications (Stage 6)
  cmd/collector/main.go
  internal/web/handlers/pages.go
  internal/web/handlers/pages_test.go
  internal/web/server.go
  internal/web/templates/partials/job-applications.html
Due: linter, format

feat(thread-c): implement page components and page updates
  frontend/src/components/dashboard/RecentJobs.tsx
  frontend/src/components/dashboard/StatsCards.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/components/jobs/FilterBar.tsx
  frontend/src/components/jobs/JobDetail.tsx
  frontend/src/components/jobs/JobRow.tsx
  frontend/src/components/jobs/JobsTable.tsx
  frontend/src/components/jobs/Pagination.tsx
  frontend/src/components/jobs/index.ts
  frontend/src/components/settings/TargetForm.tsx
  frontend/src/components/settings/TargetList.tsx
  frontend/src/components/settings/TelegramAuth.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/ErrorBoundary.test.tsx
  frontend/src/components/ui/ErrorBoundary.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Jobs.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/index.ts
  frontend/src/styles/globals.css
Due: none

feat(dispatcher): enhance dispatcher interfaces and add settings configuration
  .claude/settings.json
  cmd/collector/main.go
  internal/dispatcher/read_tracker.go
  internal/dispatcher/service.go
  internal/dispatcher/telegram_sender.go
  internal/dispatcher/telegram_sender_test.go
  internal/dispatcher/tracker.go
Due: linter, format

feat(docker): add frontend service with Dockerfile and Nginx configuration
  Dockerfile.frontend
  docker-compose.yml
  frontend/nginx.conf
Due: yaml-check

feat(auth): add Telegram QR authentication frontend guidelines
  docs/tg-auth-frontend-guidelines.md
  frontend/package-lock.json
  frontend/package.json
Due: none

successful auth in react app
  frontend/bun.lock
  frontend/package-lock.json
  frontend/src/components/jobs/JobsTable.tsx
  frontend/src/components/settings/TelegramAuth.tsx
  frontend/src/hooks/useStats.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api.ts
  frontend/src/lib/qr-persistence.ts
  frontend/src/lib/types.ts
  internal/web/handlers/auth.go
  internal/web/server.go
Due: linter, format

refactor: remove Go HTMX frontend, keep API-only backend
  cmd/collector/main.go
  internal/config/config.go
  internal/web/handlers/pages.go
  internal/web/handlers/pages_test.go
  internal/web/handlers/targets.go
  internal/web/handlers/targets_test.go
  internal/web/server.go
  internal/web/templates.go
  internal/web/templates.go.md
  internal/web/templates/README.md
  internal/web/templates/layout.html
  internal/web/templates/layout.html.md
  internal/web/templates/pages/dashboard.html
  internal/web/templates/pages/design-test.html
  internal/web/templates/pages/job-panel.html
  internal/web/templates/pages/jobs.html
  internal/web/templates/pages/qr-persistence-test.html
  internal/web/templates/pages/recent-jobs.html
  internal/web/templates/pages/settings.html
  internal/web/templates/pages/settings.html.md
  internal/web/templates/pages/stats-cards.html
  internal/web/templates/pages/targets-list.html
  internal/web/templates/partials/job-applications.html
  internal/web/templates/partials/job-row.html
  internal/web/templates/partials/target-row.html
  internal/web/templates/sidebar.html
  internal/web/templates_test.go
  internal/web/templates_test.go.md
  static/css.md
  static/css/pico.css
  static/css/pico.css.md
  static/css/style.css
  static/css/style.css.md
  static/js.md
  static/js/htmx.min.js
  static/js/htmx.min.js.md
  static/js/ws.js
  static/js/ws.js.md
Due: linter, format

fix(frontend): prevent WebSocket infinite reconnection loop
  frontend/src/hooks/useWebSocket.ts
  internal/web/handlers/targets.go
  internal/web/handlers/targets_test.go
Due: linter, format

docs(e2e): add Playwright test plan and TDD error-fixing guide
  docs/e2e/playwright-test-plan.md
  docs/e2e/tdd-error-fixing-guide.md
Due: none

docs(e2e): add TG auth mocking, data mocks plan, and local CI/CD runner
  docs/e2e/playwright-test-plan.md
Due: none

feat(api): add Fuego-based API with OpenAPI generation and Scalar UI
  go.mod
  go.sum
  internal/api/handlers.go
  internal/api/interfaces.go
  internal/api/scalar.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/types.go
Due: linter, format

fix(api): integrate Fuego OpenAPI docs into collector service
  cmd/collector/main.go
  internal/api/server.go
  internal/web/server.go
Due: linter, format

feat(api): add Fuego-based API with OpenAPI generation and Scalar UI (#11)
  cmd/collector/main.go
  go.mod
  go.sum
  internal/api/handlers.go
  internal/api/interfaces.go
  internal/api/scalar.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/types.go
  internal/web/server.go
Due: linter, format
