Repository blockedby/positions-os: changes, and which lefthook commands are due for each by the changed paths.
All: linter, format, yaml-check

lefthook.yml:

# Lefthook - Modern Git Hooks for Go Projects
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    linter:
      run: golangci-lint run --fast
      glob: "*.go"
    format:
      run: gofmt -w {staged_files}
      glob: "*.go"
    yaml-check:
      run: go run scripts/validate_yaml/main.go {all_files}
      glob: "*.{yml,yaml}"

fix(lint): handle errors in internal/collector
  internal/collector/handler.go
  internal/collector/manager_test.go
Due: linter, format

fix(lint): close HTTP response bodies in tests
  internal/web/handlers/jobs_test.go
  internal/web/server_test.go
Due: linter, format

fix(lint): handle errors in llm, migrator, nats
  internal/llm/prompts_test.go
  internal/migrator/migrator.go
  internal/nats/client.go
Due: linter, format

docs: add plan for fixing 50 lint errors
  docs/plans/2026-01-17-fix-lint-errors.md
Due: none

docs: update lint fix plan with completion status
  docs/plans/2026-01-17-fix-lint-errors.md
Due: none

fix(lint): handle json.Encode errors in web handlers
  internal/web/handlers/applications.go
  internal/web/handlers/applications_test.go
  internal/web/handlers/auth.go
  internal/web/handlers/dispatcher.go
  internal/web/handlers/jobs.go
  internal/web/handlers/jobs_test.go
  internal/web/handlers/stats.go
  internal/web/handlers/targets.go
Due: linter, format

fix(lint): handle errors in repository and telegram tests
  internal/repository/applications_test.go
  internal/telegram/persistence_test.go
Due: linter, format

fix(lint): handle errors in web/hub.go
  internal/web/hub.go
Due: linter, format

fix(lint): check error returns in cmd/ packages
  cmd/analyzer/main.go
  cmd/collector/main.go
Due: linter, format

fix(lint): handle errors in web/server
  internal/web/server.go
  internal/web/server_test.go
Due: linter, format

fix(lint): complete errcheck fixes in test files
  internal/web/handlers/jobs_test.go
  internal/web/server_test.go
  tests/integration/collector_test.go
Due: linter, format

fix(lint): update golangci.yml to v2 format
  .golangci.yml
Due: yaml-check

fix(lint): explicitly ignore fmt.Sscanf errors
  internal/dispatcher/telegram_sender.go
  internal/telegram/client.go
Due: linter, format

style: fix import ordering with gci
  internal/api/handlers.go
  internal/api/interfaces.go
  internal/api/server_test.go
  internal/api/types.go
  internal/brain/api.go
  internal/brain/integration.go
  internal/brain/llm.go
  internal/brain/pdf_test.go
  internal/brain/prompts.go
  internal/brain/service.go
  internal/brain/service_test.go
  internal/config/config.go
  internal/dispatcher/read_tracker.go
  internal/dispatcher/read_tracker_test.go
  internal/dispatcher/service.go
  internal/dispatcher/service_test.go
  internal/dispatcher/telegram_sender.go
  internal/dispatcher/telegram_sender_test.go
  internal/dispatcher/tracker.go
  internal/dispatcher/tracker_test.go
  internal/repository/applications.go
  internal/repository/applications_test.go
  internal/repository/targets_json_test.go
  internal/telegram/client_test.go
  internal/telegram/manager.go
  internal/telegram/manager_test.go
  internal/telegram/persistence_test.go
  internal/telegram/qr_client_test.go
  internal/telegram/session_converter.go
  internal/web/events.go
  internal/web/handlers/applications.go
  internal/web/handlers/applications_test.go
  internal/web/handlers/auth.go
  internal/web/handlers/dispatcher.go
  internal/web/handlers/jobs.go
Due: linter, format

docs: add plan for fixing remaining 207 lint issues
  docs/plans/2026-01-17-fix-remaining-lint-issues.md
Due: none

feat(repository): add MessageFilter interface and performance index
  internal/repository/ranges.go
  internal/repository/ranges_test.go
  migrations/0007_add_jobs_target_message_index.down.sql
  migrations/0007_add_jobs_target_message_index.up.sql
Due: linter, format

fix(security): add ReadHeaderTimeout to prevent Slowloris attacks
  internal/web/server.go
Due: linter, format

fix: address PR review feedback
  .golangci.yml
  migrations/0007_add_jobs_target_message_index.up.sql
Due: yaml-check

chore(lint): migrate to golangci-lint v2 config and exclude test unused-params
  .golangci.yml
Due: yaml-check

fix(lint): fix code-specific revive issues (naming, context order, builtin, blank import)
  cmd/tg-auth/main.go
  internal/collector/service.go
  internal/migrator/migrator.go
  internal/telegram/persistence_test.go
Due: linter, format

docs(lint): add package comments for all packages
  cmd/analyzer/main.go
  cmd/collector/main.go
  cmd/tg-auth/main.go
  cmd/tg-topics/main.go
  cmd/validate-yaml/main.go
  internal/analyzer/consumer.go
  internal/api/handlers.go
  internal/brain/api.go
  internal/collector/handler.go
  internal/config/config.go
  internal/database/database.go
  internal/dispatcher/email_sender.go
  internal/llm/client.go
  internal/logger/logger.go
  internal/models/target.go
  internal/nats/client.go
  internal/publisher/nats.go
  internal/repository/applications.go
  internal/telegram/client.go
  internal/web/events.go
  internal/web/handlers/applications.go
Due: linter, format

docs(lint): add comments for exported types and functions
  internal/brain/api.go
  internal/brain/api_test.go
  internal/brain/integration.go
  internal/brain/llm.go
  internal/brain/llm_test.go
  internal/dispatcher/service.go
  internal/dispatcher/service_test.go
  internal/dispatcher/tracker.go
  internal/logger/logger.go
  internal/models/application.go
  internal/models/job.go
  internal/models/target.go
  internal/repository/stats.go
  internal/telegram/manager.go
  internal/web/events.go
  internal/web/handlers/applications.go
  internal/web/handlers/auth.go
  internal/web/handlers/jobs.go
  internal/web/handlers/stats.go
  internal/web/handlers/targets.go
  internal/web/hub.go
Due: linter, format

feat: add TAILORED_APPROVED database migration
  migrations/0007_add_tailored_approved_status.down.sql
  migrations/0007_add_tailored_approved_status.up.sql
Due: none

feat: add SaveCoverLetter storage function
  internal/brain/storage.go
  internal/brain/storage_test.go
Due: linter, format

feat: add TAILORED_APPROVED status transitions
  internal/repository/jobs.go
  internal/repository/jobs_test.go
Due: linter, format

feat: add TAILORED_APPROVED status constant
  internal/models/job.go
  internal/repository/jobs.go
  internal/repository/jobs_test.go
Due: linter, format

docs: add application workflow implementation plan
  docs/plans/2026-01-17-application-workflow.md
Due: none

docs: clarify that TAILORED badge is also missing from frontend
  docs/plans/2026-01-17-application-workflow.md
Due: none

docs: replace visual verification with E2E tests, add regression testing section
  docs/plans/2026-01-17-application-workflow.md
Due: none

feat: add StorageDir config option
  internal/config/config.go
  internal/config/config_test.go
Due: linter, format

fix(lint): use sentinel errors instead of (nil, nil) returns
  internal/api/handlers.go
  internal/api/server_test.go
  internal/dispatcher/telegram_sender_test.go
  internal/repository/applications.go
  internal/repository/errors.go
  internal/repository/jobs.go
  internal/repository/ranges.go
  internal/repository/targets.go
  internal/web/handlers/applications.go
  internal/web/handlers/applications_test.go
  internal/web/handlers/jobs.go
  internal/web/handlers/targets.go
  internal/web/handlers/targets_test.go
Due: linter, format

feat: add tailored/sent/responded badge variants
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
Due: none

feat: wire brain service in collector
  cmd/collector/main.go
  internal/brain/integration.go
  internal/brain/storage.go
Due: linter, format

feat(frontend): add Prepare Application button and workflow UI
  frontend/e2e/prepare-application.spec.ts
  frontend/src/components/dashboard/RecentJobs.tsx
  frontend/src/components/jobs/FilterBar.test.tsx
  frontend/src/components/jobs/FilterBar.tsx
  frontend/src/components/jobs/JobDetail.test.tsx
  frontend/src/components/jobs/JobDetail.tsx
  frontend/src/components/jobs/JobRow.tsx
  frontend/src/hooks/useJobs.test.ts
  frontend/src/hooks/useJobs.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
  frontend/src/styles/globals.css
Due: none

feat: add TAILORED_APPROVED to frontend types
  frontend/src/lib/types.test.ts
  frontend/src/lib/types.ts
Due: none

feat: add RegisterBrainHandler to server
  internal/web/server.go
  internal/web/server_test.go
Due: linter, format

feat: add TailoredResumePath and CoverLetterText fields to Job
  internal/repository/jobs.go
  internal/repository/jobs_test.go
Due: linter, format

feat: wire UpdateBrainOutputs through adapter to repository
  cmd/collector/main.go
  internal/brain/integration.go
Due: linter, format

feat: add UpdateBrainOutputs method to JobsRepository
  internal/repository/jobs.go
  internal/repository/jobs_test.go
Due: linter, format

feat: add workflow stats to frontend dashboard
  frontend/src/hooks/useStats.test.ts
  frontend/src/hooks/useStats.ts
  frontend/src/lib/types.test.ts
  frontend/src/lib/types.ts
  frontend/src/test/test-utils.tsx
  internal/repository/stats.go
  internal/repository/stats_test.go
Due: linter, format
