Repository blockedby/positions-os: changes, and which lefthook commands are due for each by the changed paths.
All: linter, format, yaml-check

linter:
  run: golangci-lint run --fast

format:
  run: gofmt -w {staged_files}

yaml-check:
  run: go run scripts/validate_yaml/main.go {all_files}

docs(e2e): simplify to Task Runner setup with comprehensive guide
  docs/e2e/playwright-test-plan.md
Due: none

fix(backend): add JSON tags to ScrapingTarget struct
  internal/repository/targets.go
Due: linter, format

feat(e2e): implement Playwright test suite for WebSocket and Targets
  Taskfile.yml
  frontend/.gitignore
  frontend/e2e/api.spec.ts
  frontend/e2e/fixtures/index.ts
  frontend/e2e/fixtures/mock-data.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/pages/settings.page.ts
  frontend/e2e/targets.spec.ts
  frontend/e2e/websocket.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: yaml-check

fix(backend): add omitempty to Metadata, add JSON contract test
  internal/repository/targets.go
  internal/repository/targets_json_test.go
Due: linter, format

fix(backend): add JSON tags to ScrapingTarget struct (#13)
  internal/repository/targets.go
  internal/repository/targets_json_test.go
Due: linter, format

dev branch init
  frontend/test-results/.last-run.json
  test-results/.last-run.json
  this is dev
Due: none

fix(test): exclude e2e folder from Vitest config
  frontend/package-lock.json
  frontend/vitest.config.ts
Due: none

feat(test): add unit tests for API layer and React hooks
  docker-compose.yml
  frontend/Dockerfile.test
  frontend/bun.lock
  frontend/package.json
  frontend/src/hooks/useJobs.test.ts
  frontend/src/hooks/useStats.test.ts
  frontend/src/hooks/useTargets.test.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/lib/api.test.ts
  frontend/src/test/test-utils.tsx
Due: yaml-check

docs: update CLAUDE.md to reflect React frontend migration
  CLAUDE.md
Due: none

chore: ignore frontend test results
  .gitignore
Due: none

chore: remove test-results from git tracking
  frontend/test-results/.last-run.json
Due: none

feat(test): add component tests for React frontend
  Dockerfile
  cmd/collector/main.go
  frontend/package-lock.json
  frontend/src/components/jobs/JobsTable.test.tsx
  frontend/src/components/settings/TargetForm.test.tsx
  frontend/src/components/settings/TargetList.test.tsx
  frontend/src/test/test-utils.tsx
  frontend/test-results/.last-run.json
  internal/web/handlers/targets.go
Due: linter, format

feat(frontend): Add unit tests for API layer and React hooks (#16)
  Dockerfile
  cmd/collector/main.go
  docker-compose.yml
  frontend/Dockerfile.test
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/jobs/JobsTable.test.tsx
  frontend/src/components/settings/TargetForm.test.tsx
  frontend/src/components/settings/TargetList.test.tsx
  frontend/src/hooks/useJobs.test.ts
  frontend/src/hooks/useStats.test.ts
  frontend/src/hooks/useTargets.test.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/lib/api.test.ts
  frontend/src/test/test-utils.tsx
  frontend/vitest.config.ts
  internal/web/handlers/targets.go
Due: linter, format, yaml-check

fix(e2e): complete test alignment - all 22 tests passing
  frontend/e2e/api.spec.ts
  frontend/e2e/targets.spec.ts
  frontend/e2e/websocket.spec.ts
  frontend/playwright.config.ts
  internal/web/handlers/jobs.go
Due: linter, format

fix(e2e): align tests with actual backend API and React SPA behavior
  frontend/e2e/api.spec.ts
  frontend/e2e/targets.spec.ts
  frontend/e2e/websocket.spec.ts
  internal/web/handlers/targets.go
  internal/web/server.go
Due: linter, format

fix(tests): correct setupTargetsHandler return value assignment
  internal/web/handlers/targets_test.go
Due: linter, format

docs: add E2E test fixes implementation plan
  docs/plans/2026-01-16-e2e-test-fixes.md
Due: none

feat(frontend): add WebSocket context provider for single connection
  frontend/src/contexts/WebSocketContext.test.tsx
  frontend/src/contexts/WebSocketContext.tsx
Due: none

feat(frontend): wrap App in WebSocketProvider
  frontend/src/App.tsx
Due: none

refactor(frontend): useWebSocket now uses centralized context
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/test/test-utils.tsx
Due: none

docs: add E2E test instructions
  docs/e2e/HOW-TO-RUN-E2E.md
Due: none

docs: add E2E test execution order plan
  docs/e2e/E2E-TEST-ORDER.md
Due: none

fix(e2e): add SPA fallback and improve test speed
  cmd/collector/main.go
  docs/e2e/E2E-TEST-REPORT.md
  frontend/e2e/global-setup.ts
  frontend/playwright.config.ts
  frontend/tsconfig.app.json
  internal/web/server.go
Due: linter, format

chores
  docker-compose.yml
  docs/BUG-REPORT.md
  docs/database-schema.md
  internal/analyzer.md
  internal/analyzer/consumer.go
  internal/collector.md
  internal/config.md
  internal/database.md
  internal/llm.md
  internal/logger.md
  internal/models.md
  internal/nats.md
  internal/publisher.md
  internal/repository.md
  internal/telegram.md
  internal/web.md
  migrations/0001_create_scraping_targets.down.sql.md
  migrations/0001_create_scraping_targets.up.sql.md
  migrations/0002_create_jobs.down.sql.md
  migrations/0002_create_jobs.up.sql.md
  migrations/0003_create_job_applications.down.sql.md
  migrations/0003_create_job_applications.up.sql.md
  migrations/0004_add_triggers.down.sql.md
  migrations/0004_add_triggers.up.sql.md
  migrations/0005_create_parsed_ranges.down.sql.md
  migrations/0005_create_parsed_ranges.up.sql.md
  migrations/0006_create_sessions.down.sql
  migrations/0006_create_sessions.up.sql
  migrations/README.md
Due: linter, format, yaml-check

fix(collector): generate source_url for scraped jobs
  internal/collector/service.go
  internal/collector/service_test.go
Due: linter, format

feat(repository): add status transition validation
  internal/repository/jobs.go
  internal/repository/jobs_test.go
Due: linter, format

fix(handler): validate status transitions before update
  internal/web/handlers/jobs.go
  internal/web/handlers/jobs_test.go
Due: linter, format

fix(api): add pages field to jobs list response
  internal/api/handlers.go
  internal/api/types.go
Due: linter, format

feat(frontend): add scrape limit controls to target form
  frontend/src/components/settings/TargetForm.tsx
  frontend/src/components/settings/TargetList.tsx
  frontend/src/components/settings/index.ts
  frontend/src/pages/Settings.tsx
Due: none

fix(frontend): fix test and add input validation for scrape limits
  frontend/src/components/settings/TargetForm.tsx
  frontend/src/components/settings/TargetList.test.tsx
Due: none

feat(api): add bulk delete endpoint for jobs
  internal/api/handlers.go
  internal/api/interfaces.go
  internal/api/server.go
  internal/api/types.go
  internal/repository/jobs.go
Due: linter, format

fix(api): add BulkDelete to mock for tests
  internal/api/server_test.go
Due: linter, format

feat(frontend): add bulk delete for jobs
  frontend/src/components/jobs/JobRow.tsx
  frontend/src/components/jobs/JobsTable.tsx
  frontend/src/hooks/useJobs.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Jobs.tsx
  frontend/src/styles/globals.css
Due: none

fix(docker): update healthcheck URL and modify frontend test command
  docker-compose.yml
Due: yaml-check

build: add golang-migrate dependencies for auto-migrations
  go.mod
  go.sum
Due: none

feat(migrator): add migration runner package with embed support
  go.mod
  go.sum
  internal/migrator/migrator.go
  internal/migrator/migrator_test.go
Due: linter, format

feat(collector): auto-run migrations on startup with embedded files
  cmd/collector/main.go
  migrations/embed.go
Due: linter, format

feat(analyzer): auto-run migrations on startup with embedded files
  CLAUDE.md
  Dockerfile.analyzer
  Taskfile.yml
  cmd/analyzer/main.go
  docker-compose.yml
  docs/plans/2026-01-16-auto-run-migrations.md
Due: linter, format, yaml-check

tasks
  docs/plans/2026-01-16-bug-fixes-data-collection.md
  docs/plans/2026-01-16-fix-docker-e2e-tests.md
  docs/plans/2026-01-16-frontend-improvements.md
  docs/plans/2026-01-17-e2e-db-cleanup.md
  docs/plans/2026-01-17-ephemeral-e2e-infrastructure.md
Due: none

fix(migrator): convert postgres:// URL scheme to pgx5:// for driver
  internal/migrator/migrator.go
  internal/migrator/migrator_test.go
Due: linter, format

Path conditions:
  linter: any of: *.go
  format: any of: *.go
  yaml-check: any of: *.{yml,yaml}
